*
{
  font-family: Arial;
}

body
{
  background: #EEEEEE;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

.active
{
  background: #4CAF50;
}

.card
{
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  color: #949494;
  margin: 1% auto;
  transition: 0.5s;
  width: 75%;
}

.card:hover
{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
}

.card div
{
  background: #FFFFFF;
  padding: 2px 16px;
}

.menu
{
  background: #555;
  overflow: auto;
  margin: 0;
  width: 100%;
}

.menu a
{
  color: white;
  float: left;
  font-size: 36px;
  padding: 12px 0;
  text-align: center;
  transition: all 0.5s ease;
  width: 7.5%;
}

.menu a:hover
{
  background: #FF9800;
}

#drawer
{
  background: #000;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;
}

#drawer #close
{
  color: #FFFFFF;
  font-size: 36px;
  margin-left: 50px;
  position: absolute;
  right: 25px;
  text-decoration: none;
  top: 0;
}

#wrapper
{
  transition: margin-left 0.5s;
}

@media (max-width: 480px)
{
  .card .a
  {
    font-size: 18px;
    padding: 6px 0;
    width: 20%;
  }
}
