*
{
  font-family: "Roboto";
}

a
{
  text-decoration: none;
}

body
{
  background: #EEEEEE;
  margin: 0;
  padding: 0;
}

.card-view
{
  background: #FFFFFF;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.50);
  margin: 1% 12.5%;
  padding: 1%;
  width: 75%;
}

.card-view h1
{
  margin: 0;
  padding: 0;
}

.card-view p
{
  padding: 1% 0;
}

.footer
{
  background: #424242;
}

.footer div
{
  background: #424242;
  float: left;
  padding 1%;
}

.menu
{
  background: #FFFFFF;
  border-bottom: 1px solid #FF9800;
  font-weight: 100;
  list-style: none;
  padding: 1.5% auto;
  text-align: center;
}

.menu li
{
  display: inline-block;
  padding: 1.5%;
}

.menu li:after
{
  border-right: 1px solid #FF9800;
}

.menu li:last-child:after
{
 border-right: none;
}

.menu li a
{
  color: #FF9800;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1%;
  text-decoration: none;
  text-transform: uppercase;
}

.menu li:hover
{
  background: #FF9800;
  transition: background 0.25s;
}

.menu li:hover a
{
  color: #FFFFFF;
}

.read-thread
{
  border: 1px solid #FF9800;
  padding: 1%;
}
