body
{
  margin: 0;
  padding: 0;
}

.active
{
  background: #4CAF50;
}

.menu
{
  background: #555;
  overflow: auto;
  width: 100%;
}

.menu a
{
  color: white;
  float: left;
  font-size: 36px;
  padding: 12px 0;
  text-align: center;
  transition: all 0.5s ease;
  width: 20%;
}

.menu a:hover
{
  background: #FF9800;
}
