body
{
  background: #EEEEEE;
  margin: 0;
  padding: 0;
}

.content
{
  background: #FFFFFF;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.50);
  margin: 1% 6.25%;
  padding: 1%;
  width: 85.5%;
}

#disqus_thread
{
  bottom: 0;
}
