*
{
  font-family: "Roboto";
}

body
{
  background: #EEEEEE;
  margin: 0;
  padding: 0;
}

.content
{
  background: #FFFFFF;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 16px 64px rgba(0, 0, 0, 0.50);
  display: block;
  margin: 2% 6.25%;
  padding: 1%;
  width: 85.5%;
}

.menu
{
  background: #FFFFFF;
  border-bottom: 1px solid #FF9800;
  font-weight: 100;
  list-style: none;
  padding: 1% auto;
  text-align: center;
}

.menu li
{
  display: inline-block;
  padding: 2.5%;
}

.menu li:after
{
  border-right: 1px solid #FF9800;
}

.menu li:last-child:after
{
 border-right: none;
}

.menu li a
{
  color: #FF9800;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1%;
  text-decoration: none;
  text-transform: uppercase;
}

.menu li:hover
{
  background: #FF9800;
  transition: background 0.5s;
}

.menu li:hover a
{
  color: #FFFFFF;
}

#disqus_thread
{
  background: #FFFFFF;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 2%;
  position: absolute;
  right: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
